@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
:root {
  --DarkGray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkGray: hsl(0, 0%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan";
}

.hero {
  height: 70vh;
  display: flex;
}

.hero__header {
  flex: 2;
  position: relative;
}

.hero__header .slider-img {
  width: 100%;
  height: 100%;
  display: block;
}

.hero__nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding-top: 3.75rem;
  padding-left: 3.75rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}
.ham-menu {
  display: none;
}
.nav__logo {
  width: 7.5rem;
  margin-right: 2rem;
}

.hero__nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.hero__nav li a {
  text-decoration: none;
  padding-bottom: 3px;
  font-size: 1.3rem;
  color: #fff;
}

.hero__nav li a:hover {
  border-bottom: 2px solid #fff;
}

.header__slider-control {
  width: 8%;
  height: 8%;
  background-color: #000;

  position: absolute;
  bottom: 0;
  right: -8%;
  display: flex;
}

.control__left,
.control__right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.control__left:hover,
.control__right:hover {
  cursor: pointer;
  background-color: var(--VeryDarkGray);
}

.hero__description {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description__text {
  max-width: 65%;
}

.description__text h1 {
  font-size: 3.25rem;
}

.description__text p {
  font-size: 1.3rem;
  margin: 2rem 0;
  line-height: 1.4;
  color: var(--DarkGray);
}

.description__button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 1rem;
}

.description__button:hover {
  color: var(--DarkGray);
}

.about {
  height: 30vh;
  display: flex;
}
.about__left {
  flex: 1;
}

.about__left img {
  display: block;
  width: 100%;
  height: 100%;
}

.about__description {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-description__text {
  max-width: 60%;
}

.about-description__text h2 {
  text-transform: uppercase;
  letter-spacing: 8px;
}
.about-description__text p {
  font-size: 1.3rem;
  line-height: 1.4;
  margin: 2rem 0;
  color: var(--DarkGray);
}
.about__right {
  flex: 1;
  background-color: aqua;
}
.about__right img {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (width <= 900px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .hero__nav {
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .nav__mobile {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  .ham-menu {
    display: block;
  }
  .nav__logo {
    width: 80px;
    margin: 0;
  }
  .hero__nav ul {
    display: none;
  }
  .header__slider-control {
    width: 25%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .hero__description {
    margin: 3rem 0;
  }
  .description__text {
    max-width: 80%;

    word-break: normal;
  }
  .hero__description h1 {
    font-size: 1.8rem;
  }

  .hero__description p {
    font-size: 0.75rem;
  }
  .hero__description .description__button {
    letter-spacing: 8px;
    font-size: 1rem;
  }
  .about {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .about__description {
    margin: 2rem 0;
  }
  .about-description__text {
    max-width: 80%;
  }
  .about-description__text h2 {
    font-size: 1.1rem;
    letter-spacing: 5px;
  }
  .about-description__text p {
    font-size: 0.75rem;
  }
}
